<!-- src/app/components/product-form/product-form.component.html -->
<h2>Edit Product</h2>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name</label>
    <input id="name" formControlName="name">
  </div>
  <div>
    <label for="description">Description</label>
    <input id="description" formControlName="description">
  </div>
  <div>
    <label for="price">Price</label>
    <input id="price" formControlName="price" type="number">
  </div>
  <button type="submit">Save</button>
</form>


